#wrapper {
	
	margin:auto;
	padding: 0 15px;
}
body {
			background-color: powderblue;
			background-repeat: no-repeat;
			font-size: 1em;
			border-width: 20px;
			padding: 10px;
		}

		h2{
			text-align: center;
			font-size: 2em;
			padding: 10px;

		}
h1 {

	text-align: center;
	font-size: 3em;
	color: darkslategray;
}
p {
	color:black;
	text-align: center;
	text-anchor: start;
	background-color: white;
}
img {
	width: 150px;
	height: 200px;
	margin: auto;
	display: block;
	padding: 20px;
}
nav{
	
	text-align: center;
	

}
h3{
	font-size: 2em;
}
footer{
	font-size: 50px;
	background-color: lightgrey;
	margin: auto;

}
ul{
	background-color: white;
}